<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Sneakers App</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/sneakers">Sneakers</a></li>
            <li><a href="/add">Add sneaker</a></li>
        </ul>
    </div>
</nav>